* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: math;
}

.wrapper {
  width: 70%;
  margin: 100px auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.messages {
  width: 70%;
  padding: 20px;
  min-width: 400px;
  margin: 30px 0px;
}

.messages__preview {
  padding: 20px;
  margin: 20px 0px;
  overflow: auto;
  height: 500px;
  border: 1px solid #50d850;
}

.messagesSend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.usernameInp, .messagesBtn {
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #50d850;
}

.usernameInp {
  width: 25%;
  min-width: 200px;
}

.messageArea {
  font-size: 15px;
  outline: none;
  border-radius: 3px;
  width: 50%;
  min-width: 300px;
  border: 1px solid #50d850;
}

.info {
  flex-direction: column;
  flex-wrap: wrap;
  margin: 23px 0px;
  min-width: 200px;
}

.createdAt {
  float: right;
}

.info__name {
  color: #ffffff;
  font-size: 20px;
  background-color: #50d850;
  margin: 5px 0;
}

.active {
  margin: 15px 0;
  text-align: center;
}

.userInfo {
  background-color: #50d850;
  color: #ffffff;
  text-align: center;
}

.messagesBtn {
  background-color: #50d850;
  color: white;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #717171;
}